<div box titulo="Consultar Facturas" cor="info">

	<div class="row">
		<div class="col-md-4">
			<div dxselectx titulo="Sucursal" opcoes="filiais" modelo="filial" orientacao="vertical"></div>
		</div>
		<div class="col-md-4">
			<div dxselectx titulo="Departamento" opcoes="departamentos" modelo="departamento" orientacao="vertical"></div>
		</div>
		<div class="col-md-4">
			<div dxselectx titulo="Entidad" opcoes="entidades" modelo="entidade" orientacao="vertical"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<dxinputv tipo="TEXT" id="" titulo="Comprobante" dica="Comprobante" modelo="">
			</dxinputv>
		</div>
		<div class="col-md-4">
			<dxinputv tipo="TEXT" id="" titulo="Documento" dica="Documento" modelo="documento">
			</dxinputv>
		</div>
		<div class="col-md-4">
			<dxinputv tipo="TEXT" id="" titulo="Codigo Interno" dica="codigo" modelo="codigo">
			</dxinputv>
		</div>
	</div>



	<div class="row">
		<div class="col-md-3">
			<div dxselectv titulo="Tipo Factura" opcoes="tipoFaturas" modelo="tipofatura" orientacao="vertical"></div>
		</div>
		<div class="col-md-3">
			<div dxselectv titulo="Situación" opcoes="situacaoFaturas" modelo="situacaoFatura" orientacao="vertical"></div>
		</div>
		<div class="col-md-3">
			<dxdate titulo="Fecha Emissión" modelo="emissao" opcoes="optSimples"></dxdate>
		</div>
		<div class="col-md-3">
			<div dxbutton icon="" cor="blue" titulo="Filtrar" modelo=""></div>
		</div>
	</div>




	<div class="row">
		<div class="col-md-12">
			<div ui-grid="faturaOptions" ui-grid-move-columns ui-grid-pagination class="grid"></div>
		</div>
	</div>



	<div class="box-footer">
		<button class="btn bg-blue margin" type="button" ng-click="ok()">Cadastrar</button>
		<button class="btn bg-blue pull-right margin" type="button" ng-click="ok()">Selecionar</button>
		<button class="btn bg-default pull-right margin" type="button" ng-click="ok()">Cancelar</button>
	</div>


</div>